allow cameraserver cameraserver:process execmem;
allow cameraserver diag_prop:file { r_file_perms getattr };
allow cameraserver diag_prop:property_service set;
allow cameraserver persist_file:file { rw_file_perms setattr };
allow cameraserver persist_file:dir search;
allow cameraserver shell_exec:file { r_file_perms execute };
allow cameraserver self:socket create;
allow cameraserver camera_prop:property_service set;
allow cameraserver init:unix_stream_socket connectto;
allow cameraserver sensors_persist_file:file r_file_perms;
allow cameraserver property_socket:sock_file write;
allow cameraserver cameraserver:socket { getattr read ioctl append write lock };
allow cameraserver shell_exec:file { execute getattr };
allow cameraserver system_file:file execute;
allow cameraserver sensors_persist_file:dir { read search };
allow cameraserver sensorservice_service:service_manager find;
