allow mm-qcamerad cam_sysfs:file { open read write };
allow mm-qcamerad stm_sensor:chr_file { ioctl open read };
allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad self:tcp_socket create;
allow mm-qcamerad self:tcp_socket setopt;
allow mm-qcamerad self:tcp_socket { bind listen };
allow mm-qcamerad port:tcp_socket name_bind;
